@import "tailwindcss/base";
@import "tailwindcss/components";
@import "../primevue/tailwind.css";
@import "tailwindcss/utilities";


@layer base {
  :root {
    --color-primary: #1E73BE;
    --color-secondary: #4DA6FF;
    --color-accent: #FF9900;
    --color-background: #FFFFFF;
    --color-surface: #F0F1F2;
    --color-dark: #333333;
  }

  body {
    @apply bg-background text-dark;
  }
}

/* Globale Stile für Links */
a {
    @apply text-primary hover:text-secondary;
}

/* Beispiel für Überschriften */
h1, h2, h3 {
    @apply text-primary;
}

p, span, li, a, blockquote {
  @apply text-2xl;
  /* Macht normalen Text größer */
}


